.task-card {
    background-image: linear-gradient(45deg, whitesmoke, rgb(255, 255, 255));
    // box-shadow: 3px 10px 10px rgb(195, 195, 195);
    border-radius: 5px;
    height: 10rem;
    width: 15rem;
    padding: 30px;
    margin: 8px 0px;
    cursor: pointer;
}